* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(images/snoopy.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    /* this applies a very cool filter to the background image! */
    background-blend-mode: darken;
    font-family: "Inter", serif;
    letter-spacing: -0.5px;
}

.container {
    width: 650px;
    background: white;
    border-radius: 10px;
    padding: 30px;
    margin: 200px auto;
    box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.2);
}

.circle {
    width: 250px;
    height: 250px;
    background: url(images/me.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    float: left;
    margin: 60px 30px 30px 0;
    shape-outside: circle();
}

h1 {
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 40px;
    /* CSS code to add gradient to a text or header */
    background-image: linear-gradient(rgb(122, 174, 70), rgb(131, 189, 74));
    color: transparent;
    background-clip: text;
}

 h4, 
 p {
    line-height: 26px; /* https://css-tricks.com/almanac/properties/l/line-height/ */
    color: rgb(46, 44, 44);
 }